In [1]:
#Stock Market (S&P 500) Sigma (standard deviation) Analysis
#created by John Broberg on 2022-05-29

#source: https://www.nasdaq.com/market-activity/index/spx/historical

#cd
#cd Desktop
#cd ConsumerPriceIndex
#git pull https://github.com/JohnBroberg/StockMarketSigma.git


import pandas as pd
import numpy as np
import seaborn as sns

data = 'HistoricalData_1653861486365.csv'
df = pd.read_csv(data)

df

            Date  Close/Last Volume     Open     High      Low
0     05/27/2022     4158.24     --  4077.43  4158.49  4077.43
1     05/26/2022     4057.84     --  3984.60  4075.14  3984.60
2     05/25/2022     3978.73     --  3929.59  3999.33  3925.03
3     05/24/2022     3941.48     --  3942.94  3955.68  3875.13
4     05/23/2022     3973.75     --  3927.02  3981.88  3909.04
...          ...         ...    ...      ...      ...      ...
2546  06/04/2012     1278.18     --  1278.29  1282.55  1266.74
2547  06/01/2012     1278.04     --  1309.87  1309.87  1277.25
2548  05/31/2012     1310.33     --  1313.09  1319.74  1298.90
2549  05/30/2012     1313.32     --  1331.25  1331.25  1310.76
2550  05/29/2012     1332.42     --  1318.90  1334.93  1318.90

[2551 rows x 6 columns]